

.form-register .vertical {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}


.form-register .steps {
    float: right;
    width: 100%
}

    .form-register .steps ul {
        list-style: none;
        padding-right: 0;
        margin: 0
    }

    .form-register .steps li {
        background: #b2b2b2
    }

        .form-register .steps li:first-child,
        .form-register .steps li.current:first-child {
            margin-top: 15px
        }

        .form-register .steps li,
        .form-register .steps li.current {
            outline: none;
            -o-outline: none;
            -ms-outline: none;
            -moz-outline: none;
            -webkit-outline: none;
            position: relative;
            margin: 0 0 15px 20px;
        }

            .form-register .steps li.current,
            .form-register .steps li.done {
                background: #33a7d7
            }

            .form-register .steps li .current-info {
                display: none
            }

            .form-register .steps li a {
                text-decoration: none;
                outline: none;
                -o-outline: none;
                -ms-outline: none;
                -moz-outline: none;
                -webkit-outline: none;
                cursor: default;
            }

                .form-register .steps li a .title {
                    display: flex;
                    justify-content: space-between;
                    -o-justify-content: space-between;
                    -ms-justify-content: space-between;
                    -moz-justify-content: space-between;
                    -webkit-justify-content: space-between;
                    position: relative;
                    height:60px;
                }

                    .form-register .steps li a .title::after {
                        content: "";
                        position: absolute;
                        right: 100%;
                        top: 0;
                        border-top: 30px solid transparent;
                        border-bottom: 30px solid transparent;
                        border-right: 40px solid #b2b2b2
                    }

            .form-register .steps li.current .title::after,
            .form-register .steps li.done .title::after {
                border-right: 40px solid #33a7d7
            }

            .form-register .steps li a .title .step-icon {
                outline: none;
                -o-outline: none;
                -ms-outline: none;
                -moz-outline: none;
                -webkit-outline: none;
                color: #fff;
                font-size: 25px;
                margin: 0;
                padding: 22px 17px;
                position: relative
            }
                .form-register .steps li a .title .step-icon span {
                    font-size: 16px;
                    line-height: 16px;
                    font-family: MYIRANMarker !important;
                }
                .form-register .steps li a .title .step-icon::before {
                    position: absolute;
                    height: 60px;
                    width: 1px;
                    right: 100%;
                    top: 0;
                    content: "";
                    background: rgba(255, 255, 255, .3)
                }

            .form-register .steps li a .step-text {
                margin:auto;
            }

                .form-register .steps li a .step-text span {
                    display: block;
                    text-align: center;
                }

                .form-register .steps li a .step-text .step-inner-1 {
                    /*font-size: 16px;*/
                    font-weight: 600;
                    color: #fff;
                    font-family: MYIRANMarker !important;
                }

                .form-register .steps li a .step-text .step-inner-2 {
                    font-size: 14px;
                    font-style: italic;
                    color: rgba(255, 255, 255, .7);
                    font-family: MYIRANMarker !important;
                }




    .form-register .content .inner {
        margin: 35px 40px 25px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
        -o-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
        -ms-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 0 30px 25px
    }



        .form-register .content .wizard-header h3 {
            font-size: 22px;
            color: #fff;
            font-weight: 700;
            margin: 0
        }

.inner .form-row {
    display: flex;
    margin: 0 -10px;
    position: relative
}

    .inner .form-row .form-holder {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 19px;
        position: relative
    }

        .inner .form-row .form-holder.form-holder-1 {
            width: 65.3%
        }

        .inner .form-row .form-holder.form-holder-2 {
            width: 100%;
            position: relative
        }

        .inner .form-row .form-holder label {
            color: #666;
            font-size: 16px;
            font-weight: 400;
            display: block;
            padding-bottom: 8px
        }

        .inner .form-row .form-holder input,
        .inner .form-row .form-holder select {
            width: 100%;
            padding: 12px 20px;
            border: 1px solid #e5e5e5;
            appearance: unset;
            -moz-appearance: unset;
            -webkit-appearance: unset;
            -o-appearance: unset;
            -ms-appearance: unset;
            outline: none;
            -moz-outline: none;
            -webkit-outline: none;
            -o-outline: none;
            -ms-outline: none;
            font-family: MYIRANMarker !important;
            font-weight: 600;
            font-size: 16px;
            color: #333;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px
        }

        .inner .form-row .form-holder select {
            font-size: 14px;
            color: #666;
            font-weight: 600;
            background: #fff url(../images/wizard-v7-icon.png) no-repeat scroll;
            background-position: right 6px center;
            z-index: 1;
            cursor: pointer;
            position: relative;
            border: 2px solid #e5e5e5;
            padding: 10.4px 13px
        }

input::placeholder {
    color: #999;
    font-size: 15px;
    font-weight: 400
}

input:-ms-input-placeholder {
    color: #999;
    font-size: 15px;
    font-weight: 400
}

input::-ms-input-placeholder {
    color: #999;
    font-size: 15px;
    font-weight: 400
}

.inner .form-row .form-holder .content-inner {
    font-weight: 400;
    color: #666;
    font-size: 14px
}

    .inner .form-row .form-holder .content-inner p {
        margin: 0
    }

.inner .form-row .form-holder .form-checkbox {
    position: relative;
    padding-top: 55px
}

    .inner .form-row .form-holder .form-checkbox p {
        margin-right: 27px;
        color: #333;
        font-size: 14px;
        font-weight: 600
    }

    .inner .form-row .form-holder .form-checkbox input {
        position: absolute;
        opacity: 0
    }

    .inner .form-row .form-holder .form-checkbox .checkmark {
        position: absolute;
        bottom: 8%;
        right: 0;
        height: 18px;
        width: 18px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        cursor: pointer
    }

        .inner .form-row .form-holder .form-checkbox .checkmark::after {
            content: "";
            position: absolute;
            right: 6px;
            top: 2px;
            width: 3px;
            height: 8px;
            border: 1px solid #33a7d7;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            display: none
        }

    .inner .form-row .form-holder .form-checkbox input:checked ~ .checkmark::after {
        display: block
    }

.actions {
    float: right;
    width: 530px;
    background: #fff
}

    .actions ul {
        list-style: none;
        padding: 0 40px;
        margin-bottom: 40px;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -o-justify-content: space-between;
        -ms-justify-content: space-between;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between
    }

        .actions ul li.disabled,
        .actions ul li:first-child {
            opacity: 0
        }

        .actions ul li {
            padding: 0;
            border: none;
            display: inline-flex;
            height: 42px;
            width: 120px;
            border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            justify-content: center;
            -o-justify-content: center;
            -ms-justify-content: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -o-align-items: center;
            -ms-align-items: center;
            -moz-align-items: center;
            -webkit-align-items: center;
            background: #364cd2;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400
        }

            .actions ul li:hover {
                background: #28379e
            }

            .actions ul li a {
                color: #fff;
                text-decoration: none;
                padding: 13px 19px
            }

@media screen and (max-width:991px) {
    .page-content .wizard-heading {
        margin-right: 0;
        width: 90%
    }

    .wizard-v7-content {
        width: 90%
    }

    .form-register .steps {
        width: 100%;
        float: right;
    }

    .form-register .content,
    .actions {
        float: none;
        width: 100%
    }
}

@media screen and (max-width:575px) {
    .inner .form-row {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        margin: 0
    }

        .inner .form-row .form-holder {
            width: 100%
        }

        .inner .form-row .form-holder {
            padding: 0
        }

    .form-register .steps {
        width: 90%;
        float: none
    }
}
